#picture-input {
    display: none;
}

.picture {
    width: 100%;
    height: 618px;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentColor;
    cursor: pointer;
}

.picture:hover{
    background-color: #91d3ff;
    color: #002e4d;
    transition: ease-in-out 300ms;
}

.picture-img{
    width: 100%;
}

.produto {
    width: 200px;

    text-align: center;
    margin: 0 auto;
    display: block;
}

.produto:hover {
    background-image: url(imagens/excluirprod.png);
}


#adicionar {
    width: 8rem;
    margin-top: 8rem;
    text-align: center;
}

#adicionar:hover {
    background-image: url(imagens/iconadicionarpreto.png) !important;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content2{
    height: 26.2rem;
    width: 20rem;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 15%),
    0 10px 10px rgba(0, 0, 0, 12%);
    transition: .4s;
    background: #1e79b5;
}

.content2:hover{
    box-shadow: 0 3 px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}



.content{
    width: 20rem;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 15%),
    0 10px 10px rgba(0, 0, 0, 12%);
    transition: .4s;
    background: #f2f2f2;
}

.content:hover{
    box-shadow: 0 3 px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.p-produto{
    text-align: center;
    color: rgb(158, 158, 158);
    padding-top: 0 8px;
}

h6{
    font-size: 26px;
    text-align: center;
    color: rgb(22, 21, 21);
    margin: 0;
}

.buy {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 90%;

}

.alterar {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.alterar:hover {
    transform: translate(0px, -8px);
    transition: .4s;
}

.cor {
    background-color: #1e79b5;
    margin-top: 10px;
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

.barrabotao {
    display: flex;
    width: 80%;
    height: 100px;
    
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

@media(max-width:1000px){
    .content, .content2{
        width: 45%;
    }
}
@media(max-width:750px){
    .content, .content2{
        width: 100%;
    }
}

@media(max-width:30px){
    section{
        padding-left:0px;
        padding-right: 0px;
    }
}

.botao{
    color: #fff;
    background-color: #1e79b5;
    height: 40px;
    border: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.pesquisar {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100%;
}

.search {
    width: 70%;
}

p.filtrar{
    font-size: 15px;
    color: #975cb9;
    font-family: monospace;
}

.prod-info{
    background-color: #fff;
    border-radius: 20px;
    color: black;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 15%),
    0 10px 10px rgba(0, 0, 0, 12%);
    margin-left: 10%;
    margin-right: 10%;
}

.fundo-img{
    background-color: transparent;
    border-radius: 20px;
}

.fundo-info {
    padding-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#container {
    padding: 2rem;
}

#titulo {
    font-size: 45px;
    font-family: monospace;
    padding-bottom: 2rem;
}

#preco {
    font-size: 30px;
    padding-bottom: 2rem;
}

#descricao-titulo {
    font-size: 22px;
    padding-bottom: 1rem;
    font-family: monospace;
}

#tituloadd {
    font-size: 22px;
    padding-bottom: 1rem;
    font-family: monospace!important;
}

#descricao {
    font-size: 18px;
    text-align: center;
}

#number {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 5px!important;
}

#number:hover, #number:focus {
    background: rgb(255, 69, 156);
    color: #fff;
}

/*media screen*/

@media screen and (max-width: 992px) {
    .fundo-img {
        display: contents;
        padding: 0;
    }
  }

@media screen and (max-width: 600px) {
    .fundo-img {
        display: contents;
        padding: 0;
    }
  }

  @media screen and (max-width: 992px) {
    #titulo{
        font-size: 40px;
    }
  }

@media screen and (max-width: 600px) {
    #titulo{
        font-size: 35px;
    }
  }

  @media screen and (max-width: 992px) {
    #preco{
        font-size: 25px;
    }
  }

@media screen and (max-width: 600px) {
    #preco{
        font-size: 20px;
    }
  }

  @media screen and (max-width: 992px) {
    #descricao-titulo{
        font-size: 18px;
    }
  }

@media screen and (max-width: 600px) {
    #descricao-titulo{
        font-size: 16px;
    }
  }

  @media screen and (max-width: 992px) {
    #descricao{
        font-size: 16px;
    }
  }

@media screen and (max-width: 600px) {
    #descricao{
        font-size: 14px;
    }
  }
  @media screen and (max-width: 992px) {
    .prod-info{
        padding-left: 3%;
        padding-right: 3%;
    }
  }

@media screen and (max-width: 600px) {
    .prod-info, section{
        padding-left: 0;
        padding-right: 0;
        padding-top: 6%;
    }
  }

  @media screen and (max-width: 992px) {
    .carousel{
        padding: 10%;
    }
  }
